stringcase==1.2.0
sqlalchemy==1.2.10
sqlalchemy-utils==0.33.3
pympler==0.5
cachetools==2.0.1
configargparse==0.13.0
humanfriendly==4.16.1
psycopg2-binary==2.7.5
modelforge==0.11.1
bblfsh==2.12.7
requirements-parser==0.2.0
lookout-sdk==0.4.1
